### AL ###
#Template for VSCode projects for QuestaSun
#VSCode
.vscode/
# These directories should never be added
regression/
logs/
log/
**/target/*

transcript
**/transcript


*.db
*.sdb
# *.tcl
*.vlogan
*.47744
*.18420
*.NFSLock
*.back
*.bak
*.bak/
*.fsdb
*.fsdb*
*.fsdb.gz
*.tar.gz
*.junk
*.junk/
*.local
*.log
*.log.gz
labs/tutorial/transcript
